{% extends 'all_pictures/base.html'%}

{% block content %}
    {{block.super}}
    <div class="jumbotron">
        <h1 class="text-center">Collage_Life</h1>
    </div>
    <div class="container">
        <section id="gallery">
            {% for image in images %}
                <a data-toggle="modal" data-target="#imageModal{{forloop.counter}}">
                    <img src="{{image.image.url}}">
                </a>
                <div class="modal fade" id="imageModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="moiModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="moiModelLabel">{{image.image_name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img itemprop="image" src='{{image.image.url}}' style="width: 100%; height: 100%;">
                                <p></p>
                                <p>Owner: {{image.owner}}</p>
                                <p>Publication Date: {{image.pub_date}}</p>
                                <p>{{image.image_description|truncatechars:90}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        
{% endblock %}